#top{
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: auto;
}

#nav{
    list-style: none;
    overflow: hidden;
}

#nav li{
    width: 140px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    height: 50px;
    line-height: 50px;
    margin: 2px;
}

#ime{
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 105%;
    height: 180px;
    width: auto; 
    color: white;
}

#nav li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 2px;
}


#book{
  display: flex;
  margin-left: 96px;
  padding:0px;
  max-width: 150%;
  text-align:center;
  font-size: 0;
}

#plan{
    background-color: #c0c0c0;
    font-size: 85%;
    width: 1120px;
    height: 150px;
    padding: 10px; 
    text-align: center;
    }

#plan h3{
    color: #a0522d;
    font-size: 130%;
}

#concept{
    background-color: #c0c0c0;
    width: 320px;
    height: 415px;
    margin: 20px;
    margin-left: 100px;
    text-align: center;
    font-size: 86%;
}

#SERVECE{
    background-color: #c0c0c0;
    width: 320px;
    height: 415px;
    margin: 20px;
    margin-left: 65px;
    text-align: center;
    font-size: 88%;
}

#floor{
    background-color: #c0c0c0;
    width: 320px;
    height: 415px;
    margin: 20px;
    margin-left: 63px;
    text-align: center;
   font-size: 88%;
}

span{
    font-size: 300%;
    font-weight: 700;
    margin-left: 200px;
}

#kthr{
    background-color: #c0c0c0;
    width: 250px;
    height: 310px;
    margin: 20px;
    margin-left: 200px;
    text-align: center;
    font-size: 80%;
}

#tzm{
    background-color: #c0c0c0;
    width: 250px;
    height: 310px;
    margin: 20px;
    margin-left: 65px;
    text-align: center;
    font-size: 80%;
}

#mtb{
    background-color: #c0c0c0;
    width: 250px;
    height: 310px;
    margin: 20px;
    margin-left: 65px;
    text-align: center;
    font-size: 80%;
}


#wtnb{
    background-color: #c0c0c0;
    width: 250px;
    height: 300px;
    margin: 20px;
    margin-left: 200px;
    text-align: center;
    font-size: 80%;
}

#ismr{
    background-color: #c0c0c0;
    width: 250px;
    height: 300px;
    margin: 20px;
    margin-left: 65px;
    text-align: center;
    font-size: 80%;
}

#kri{
    background-color: #c0c0c0;
    width: 250px;
    height: 300px;
    margin: 20px;
    margin-left: 65px;
    text-align: center;
    font-size: 80%;
}

.addres{
    text-align: center;
}