#top{
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: auto;
    color: white;
}

#ber{
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
    height: 50px;
}

.title{
    left: 20%;
    font-size: 180%;
}

.menu{
    left: 45%;
    font-size: 95%;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

#nav{
    list-style: none;
    overflow: hidden;
}

#nav li{
    width: 140px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    height: 50px;
    line-height: 50px;
    margin: 2px;
}

#ime{
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 105%;
    height: 180px;
    width: auto; 
    color: white;
}

#nav li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 2px;
}


#book{
  display: flex;
  margin-left: -103px;
  padding:0px;
  max-width: 120%;
  text-align:center;
  font-size: 0;
}

#plan{
    background-color: #c0c0c0;
    font-size: 85%;
    width: 1120px;
    height: 150px;
    padding: 10px; 
    text-align: center;
    }

#plan h3{
    color: #a0522d;
    font-size: 130%;
}

#concept{
    background-color: #c0c0c0;
    width: 300px;
    height: 278px;
    margin: 20px;
    margin-left: 120px;
    text-align: center;
    font-size: 86%;
}

#SERVECE{
    background-color: #c0c0c0;
    width: 300px;
    height: 278px;
    margin: 20px;
    margin-left: 65px;
    text-align: center;
    font-size: 88%;
}

#floor{
    background-color: #c0c0c0;
    width: 300px;
    height: 278px;
    margin: 20px;
    margin-left: 63px;
    text-align: center;
   font-size: 88%;
}

#ime2{
    background-color: #c0c0c0;
    width: 270px;
    height: 150px;
    padding: 15px;
    margin-top: 0;
    text-align: left;
}

.box{
    background-color: black;
    color: white;
    height: 28px;
    width: 92px;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;    
}


span{
    font-size: 300%;
    font-weight: 700;
    margin-left: 200px;
}

.box1{
    background-color: black;
    color: white;
    height: 40px;
    width: 120px;
    font-size: 100%;
    text-align: center;
    margin-left: 450px;   
}

#kthr{
    position: relative;
    background-color: #c0c0c0;
    width: 280px;
    height: 240px;
    margin: 20px;
    margin-left: 200px;
    font-size: 80%;
    text-align: center;
}

#kthr span{
    background-color: black;
    color: white;
    font-size: 107%;
    text-align: center;
    height: 23px;
}

#koe{
    background-color: #c0c0c0;
    width: 250px;
    height: 75px;
    margin-top: 0;
    padding: 15px;
    text-align: left;
}

#tzm{
    background-color: #c0c0c0;
    width: 280px;
    height: 240px;
    margin: 20px;
    margin-left: 65px;
    text-align: center;
    font-size: 80%;
}

#tzm span{
    background-color: black;
    color: white;
    font-size: 107%;
    text-align: center;
    height: 23px;
}

#mtb{
    background-color: #c0c0c0;
    width: 280px;
    height: 240px;
    margin: 20px;
    margin-left: 65px;
    text-align: center;
    font-size: 80%;
}

#mtb span{
    background-color: black;
    color: white;
    font-size: 107%;
    text-align: center;
    height: 23px;
}


#wtnb{
    background-color: #c0c0c0;
    width: 280px;
    height: 240px;
    margin: 20px;
    margin-left: 200px;
    text-align: center;
    font-size: 80%;
}

#wtnb span{
    background-color: black;
    color: white;
    font-size: 107%;
    text-align: center;
    height: 23px;
}

#ismr{
    background-color: #c0c0c0;
    width: 280px;
    height: 240px;
    margin: 20px;
    margin-left: 65px;
    text-align: center;
    font-size: 80%;
}

#ismr span{
    background-color: black;
    color: white;
    font-size: 107%;
    text-align: center;
    height: 23px;
}

#kri{
    background-color: #c0c0c0;
    width: 280px;
    height: 240px;
    margin: 20px;
    margin-left: 65px;
    text-align: center;
    font-size: 80%;
}

#kri span{
    background-color: black;
    color: white;
    font-size: 107%;
    text-align: center;
    height: 23px;
}

.box2{
    background-color: black;
    color: white;
    width: 35px;
    height: 40px;
}


#access{
    text-align: center;
}

.sns p{
    text-align: center;
}

.under{
    background-color: #e6e6fa;
    color: black;
    width: auto;
    height: 20px;
    font-size: 78%;
    text-align: center;
}

.copy{
    background-color: black;
    color: white;
    font-size: 40%;
    text-align: center;
    height: 30px;
}